h2 {
    margin-left: 2em;
    font-style: italic;
    color: #0D9373;
}

h3 {
    margin-left: 3em;
    font-style: italic;
    color: #0D9373;
    text-decoration: underline;
    text-align: center;
}

h4 {
    margin-left: 4em;
    font-style: italic;
    color: #0D9373;
    text-decoration: underline;
    text-align: center;
}

p {
    margin-left: 1em;
}
